<div class="Card Card--gameEmpty">
    <div class="Card-cover"><i class="fa fa-clock-o fa-4x"></i></div>
    <div class="Card-title u-ellipsis">{{ translator.translate('games.last.played.placeholder') }}</div>
</div>