<section class="Block">
    <div class="Block-header">
        <h2 class="Block-title">{% block title %}{% endblock %}</h2>
    </div>
    <div class="Block-content">
        <div class="Paper-paragraph">{% block paragraph %}{% endblock %}</div>
    </div>
</section>