<ul {% block attributes %}{% endblock %} class="Rating">
    <li data-index="1" class="Rating-star"></li>
    <li data-index="2" class="Rating-star"></li>
    <li data-index="3" class="Rating-star"></li>
    <li data-index="4" class="Rating-star"></li>
    <li data-index="5" class="Rating-star"></li>
</ul>