<div class="ShareBox">
    <div class="ShareBox-element">
        {% include "@initializers/facebook.html.twig" %}
        {% include "@app/components/social/button-facebook.html.twig" %}
    </div>
    <div class="ShareBox-element">
        {% include "@initializers/google.html.twig" %}
        {% include "@app/components/social/button-google.html.twig" %}
    </div>
    <div class="ShareBox-element">
        {% include "@initializers/twitter.html.twig" %}
        {% include "@app/components/social/button-twitter.html.twig" %}
    </div>
</div>