.Label {
  display: flex;
  padding: .5rem 0 .5rem 0;
  width: 30rem;
  align-items: baseline;
  .Input:not([type="checkbox"]) {
    margin-left: .5rem;
    margin-right: .5rem;
    width: 100%;
  }
}