<div class="Footer-block">
    <h3 class="Footer-blockTitle">{% block title %}{% endblock %}</h3>
    <aside class="Footer-blockDescription">{% block description %}{% endblock %}</aside>
    <section class="Footer-blockBody">{% block body %}{% endblock %}</section>
</div>