{% extends '@app/default.html.twig' %}
{% block title %}{{ locale.domain|capitalize }} - {{ translator.translate('privacy-policy') }}{% endblock %}
{% block main %}
    <article class="Paper">
        {% embed '@app/components/paragraph.html.twig' %}
            {% block title %}Lorem ipsum dolor sit amet{% endblock %}
            {% block paragraph %}
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas velit tellus, eu finibus
                    augue finibus in. Pellentesque nec risus eleifend, varius enim vel, blandit massa. Etiam ut dictum
                    dolor, ac iaculis arcu. Praesent pharetra nisi eu posuere iaculis. Nullam semper justo varius dolor
                    vehicula, eget tincidunt sapien porta. Maecenas blandit sapien mauris, eu pellentesque ex vestibulum
                    ut. Curabitur in dignissim augue. Vivamus condimentum elit vitae lobortis vehicula. Maecenas non
                    neque id nulla feugiat blandit. Etiam lectus ipsum, consequat pretium posuere id, blandit sed eros.
                    Nunc quis viverra neque, at molestie ligula. Aenean feugiat fringilla ligula, ac lobortis diam
                    finibus eu.
                </p>
            {% endblock %}
        {% endembed %}
        {% embed '@app/components/paragraph.html.twig' %}
            {% block title %}Lorem ipsum dolor sit amet{% endblock %}
            {% block paragraph %}
                <p>
                    Sed posuere convallis magna, pretium mollis turpis. Nam molestie metus at sem tincidunt, id
                    pellentesque mauris laoreet. Nunc sit amet bibendum ipsum. Nulla vel bibendum turpis. Ut at urna non
                    lacus consequat tempor. Maecenas tempus quam massa, et rhoncus risus luctus tincidunt. Sed sit amet
                    vestibulum leo, a euismod dui. Donec sed sem felis. Vivamus scelerisque sem massa, non vestibulum
                    lorem dictum ac. Nunc eget mollis eros. Aenean et pulvinar lacus, sit amet malesuada leo.
                    Suspendisse potenti. Duis venenatis tortor sed ultrices vehicula. Donec ultrices tristique libero
                    nec ullamcorper.
                </p>
            {% endblock %}
        {% endembed %}
        {% embed '@app/components/paragraph.html.twig' %}
            {% block title %}Lorem ipsum dolor sit amet{% endblock %}
            {% block paragraph %}
                <p>
                    Suspendisse potenti. Fusce dictum lorem vitae dui tincidunt, vehicula luctus elit tristique.
                    Vestibulum non quam eros. Nulla eu imperdiet sapien. Morbi faucibus tincidunt leo aliquet cursus.
                    Nam varius in lectus eget dictum. Quisque rutrum, mi sit amet rutrum lacinia, ex purus semper elit,
                    eu commodo libero ante ut lacus.
                </p>
            {% endblock %}
        {% endembed %}
        {% embed '@app/components/paragraph.html.twig' %}
            {% block title %}Lorem ipsum dolor sit amet{% endblock %}
            {% block paragraph %}
                <p>
                    Suspendisse placerat feugiat lorem non porttitor. Vestibulum at pharetra massa. Sed eget nisi felis.
                    Mauris a varius nulla, eget interdum purus. Nam fermentum, ipsum vel auctor viverra, ex purus mattis
                    metus, sit amet tempus odio quam eget risus. Vestibulum congue rhoncus turpis ac posuere. Fusce sit
                    amet sapien in tellus eleifend varius at vel est. Nullam semper gravida maximus. Proin eros massa,
                    posuere quis ornare non, commodo id tellus. Nam hendrerit risus a augue elementum, vitae aliquam
                    lorem ullamcorper. Nullam facilisis, augue eget lobortis pharetra, est tellus accumsan erat,
                    hendrerit venenatis ex purus pretium purus.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Morbi egestas velit tellus</li>
                    <li>Aenean feugiat fringilla ligula</li>
                </ul>
            {% endblock %}
        {% endembed %}
        {% embed '@app/components/paragraph.html.twig' %}
            {% block title %}Lorem ipsum dolor sit amet{% endblock %}
            {% block paragraph %}
                <p>
                    Praesent quis libero pellentesque, dictum felis at, semper quam. Ut vitae ultrices odio. Sed dapibus
                    eros nec erat viverra, vitae gravida risus feugiat. Vestibulum aliquam fermentum mauris, et pharetra
                    sem finibus at. Donec eros ex, tincidunt ac felis vitae, mattis interdum massa. Aenean eu laoreet
                    ex, ullamcorper tincidunt libero. Suspendisse imperdiet mi et malesuada viverra. Donec nec fringilla
                    neque. Duis nec tellus at sem convallis feugiat. Nulla fringilla nisi sit amet massa accumsan
                    ultricies.
                </p>
            {% endblock %}
        {% endembed %}
    </article>
{% endblock %}